Source: wifiscanner
Section: network
Priority: optional
Maintainer: coolshou <coolshou2060@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake, qmake6,
 libnl-3-dev, libnl-genl-3-dev,
 qt6-declarative-dev,  qt6-base-dev,
 libxkbcommon-dev
Standards-Version: 4.6.2
Homepage: https://github.com/coolshou/wifiscan
#Vcs-Browser: https://salsa.debian.org/debian/wifiscan
#Vcs-Git: https://salsa.debian.org/debian/wifiscan.git

Package: wifiscanner
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 qml6-module-qtquick,
 qml6-module-qtquick-controls,
 qml6-module-qtquick-layouts,
 qml6-module-qtquick-templates,
 qml6-module-qtquick-window
Description: A QML base GUI of wifi site survey tool
 A QML base GUI of wifi site survey tool
